// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
    @include valo;

    // Insert your own theme rules here
    .backColorGrey{
        background-color:#ACACAC;
    }
    .backColorWhite{
        background-color:#FFFFFF;
    }

    .body{
        background-image: url("img/loginPage.jpg")
    }

    .v-button-type1-red {
        text-align: left;
        vertical-align:text-bottom;
        padding-left: 8px;
        padding-top: 15px;
        font-size: 12px;
        //border-color: red;
        border-bottom-color: red;
        border-bottom-width: 2px;
        //border-right: none;
    }
    .v-button-type1-green {
        text-align: left;
        vertical-align:text-bottom;
        padding-left: 8px;
        padding-top: 15px;
        font-size: 12px;
        border-bottom-color: green;
        border-bottom-width: 2px;
    }


    .v-button-type1 {
        text-align: left;
        vertical-align:text-bottom;
        padding-left: 8px;
        padding-top: 18px;
        font-size: 12px;
        border-color: red;
    }
    .v-button-type2 {
        //color: #fff;
        //background-color: red;
        font-weight: bold;
        font-size: 12px;
        background: transparent;
        text-align: left;
        //text-spacing: none;
        padding-left: 3px;
        padding-bottom: 13px;
        border: none;
    }


    .v-label-type1 {
        text-align: left;
        padding-left: 8px;
        padding-top: -2px;
        font-size: 13px;

    }
}